In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv('removed.csv',encoding='latin_1')

In [9]:
data.head()

   hotel class  hotel final  ...  service  sleep quality
0          5.0          4.5  ...      NaN            NaN
1          5.0          4.5  ...      NaN            NaN
2          5.0          4.5  ...      NaN            NaN
3          5.0          4.5  ...      NaN            NaN
4          5.0          4.5  ...      NaN            NaN

[5 rows x 9 columns]

In [10]:
data.shape

(7108, 9)

In [11]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
imp.fit(data)
IterativeImputer(random_state=0)

/usr/local/lib/python3.7/dist-packages/sklearn/impute/_iterative.py:701: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  ConvergenceWarning,

IterativeImputer(random_state=0)

In [12]:
data

      hotel class  hotel final  ...  service  sleep quality
0             5.0          4.5  ...      NaN            NaN
1             5.0          4.5  ...      NaN            NaN
2             5.0          4.5  ...      NaN            NaN
3             5.0          4.5  ...      NaN            NaN
4             5.0          4.5  ...      NaN            NaN
...           ...          ...  ...      ...            ...
7103          5.0          4.0  ...      NaN            NaN
7104          5.0          4.0  ...      NaN            NaN
7105          5.0          4.0  ...      NaN            NaN
7106          5.0          4.0  ...      NaN            NaN
7107          5.0          4.0  ...      5.0            5.0

[7108 rows x 9 columns]

In [17]:
import numpy as np
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2, weights="uniform")
data=imputer.fit_transform(data)

In [18]:
print(data)

[[5.  4.5 5.  ... 5.  5.  5. ]
 [5.  4.5 5.  ... 5.  5.  5. ]
 [5.  4.5 5.  ... 5.  5.  5. ]
 ...
 [5.  4.  5.  ... 5.  4.5 5. ]
 [5.  4.  5.  ... 5.  4.5 5. ]
 [5.  4.  4.  ... 4.  5.  5. ]]

In [21]:
type(data)

numpy.ndarray

In [22]:
df = pd.DataFrame(data, columns = ['hotel class','hotel final','overall rating','value','rooms','location','cleanliness','service','sleep quality'])

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df

      hotel class  hotel final  ...  service  sleep quality
0             5.0          4.5  ...      5.0            5.0
1             5.0          4.5  ...      5.0            5.0
2             5.0          4.5  ...      5.0            5.0
3             5.0          4.5  ...      5.0            5.0
4             5.0          4.5  ...      5.0            5.0
...           ...          ...  ...      ...            ...
7103          5.0          4.0  ...      4.5            5.0
7104          5.0          4.0  ...      4.5            4.5
7105          5.0          4.0  ...      4.5            5.0
7106          5.0          4.0  ...      4.5            5.0
7107          5.0          4.0  ...      5.0            5.0

[7108 rows x 9 columns]

In [25]:
df.to_csv('knndata.csv',index=False)